- var title = 'Создать Резюме'
doctype html
html
  include includes/head
  body
    include includes/index_header
    main.main
      include includes/index_page_content
    include includes/footer
    script(src="swup.js")
    script const swup = new Swup();
