- var title = 'Создать Резюме'
include includes/variables_links
doctype html
html
  include includes/head
  body
    include includes/index_header
    main.main#swup.transition-fade
      include includes/index_page_content
    include includes/footer
    script(src="scripts/swup.js")
    script const swup = new Swup();
    
