- var title = 'Вторая страница'
include includes/variables_links
doctype html
html
  include includes/head
  body
    include includes/step2_header
    main.main#swup.transition-fade
      include includes/step2_main_content        
    include includes/footer
    script(src="scripts/login.js")
    script(src="scripts/usersData.js")

