- var title = 'Заполнить резюме'
include includes/variables_links
doctype html
html
  include includes/head
  body
    include includes/step3_header
    main#swup.transition-fade.main-fill
      include includes/step3_main_content        
    include includes/footer