- var title = 'Вторая страница'
doctype html
html
  include includes/head
  body
    include includes/2step_header
    main.main
      .container#swup.transition-fade
        p comon evrybody
        a(href="/index.html")
    include includes/footer

