* {
  margin: 0;
  padding: 0; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  height: 100%; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

a {
  text-decoration: none;
  cursor: pointer; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 15px; }
  @media (max-width: 1024px) {
    .container {
      padding: 0 15px 0 45px; } }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 47px;
  min-height: 47px; }
  .header .logo {
    font-family: 'Ubuntu', sans-serif;
    color: #df411c;
    font-weight: bold;
    font-size: 16px; }

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header-right .header-description {
    font-size: 14px;
    margin: 0 20px; }
  .header-right .border {
    display: block;
    width: 2px;
    height: 17px;
    background-color: #343439;
    border-radius: 9px; }
  .header-right .start-header {
    width: 140px;
    height: 30px;
    border-radius: 15px;
    margin-left: 20px;
    font-size: 13px;
    padding: 0; }

.little-tagline {
  color: #343439; }

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  padding: 10px 20px;
  letter-spacing: 1px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #df411c;
  border-radius: 15px;
  color: white;
  font-weight: 600;
  cursor: pointer; }
  .button:hover {
    background-color: #e55230; }
  .button:active {
    background-color: #c83a19; }

.logo, .tagline {
  text-shadow: 1px 1px 2px #a5a5a5; }

.main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background: url("img/main_background.png") no-repeat;
  background-size: contain;
  background-position: right;
  background-color: #edecf1; }
  .main .main-inner {
    width: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .main .tagline, .main .little-tagline, .main .start-main {
    margin: 10px 0; }
  .main .tagline {
    font-weight: 500;
    letter-spacing: 0px; }
  .main .little-tagline {
    font-size: 18px; }
  .main .start-main {
    width: 180px;
    height: 45px;
    border-radius: 20px;
    font-size: 16px; }

.footer {
  height: 32px;
  min-height: 32px;
  background-color: #d7d4d8; }

.login-page {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease; }
  .login-page .button {
    margin: 15px 0; }

.input {
  border: 1px solid #d7d4d8;
  padding: 10px;
  border-radius: 5px; }

input:focus,
textarea:focus,
select:focus {
  outline: 1px solid yellow; }

.login-area label, .login-area input {
  margin: 10px 0; }

.main-fill {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background-color: #edecf1;
  overflow: scroll; }

.user {
  position: relative; }
  .user .angle {
    height: 10px;
    width: auto;
    margin: 0 5px;
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear; }
  .user:hover .angle {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .user:hover .profile_menu {
    display: block; }

a.name {
  font-size: 18px; }

.profile_menu {
  display: none;
  position: absolute;
  list-style-type: none;
  top: 23px;
  padding-top: 12px;
  right: 0px;
  color: #343439;
  font-size: 16px;
  z-index: 5; }
  .profile_menu li {
    width: 180px;
    height: 30px;
    background: white;
    border: 1px solid #d7d4d8;
    border-top: none; }
    .profile_menu li a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 5px 10px;
      color: #343439;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: right; }
      .profile_menu li a img {
        height: 100%;
        width: auto; }
    .profile_menu li:hover a {
      color: #8e76aa; }

.input-redact {
  border: 1px dashed #d7d4d8;
  background: white;
  padding: 5px;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 18px;
  -moz-appearance: textfield;
  -webkit-appearance: none; }
  .input-redact:focus {
    background: white;
    border: 1px solid #d7d4d8;
    padding: 5px;
    border-radius: 5px; }
  .input-redact::-webkit-inner-spin-button, .input-redact::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none; }

.input-month {
  border: 1px solid #d7d4d8;
  background: white;
  padding: 5px;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 18px; }

#salary {
  width: 90px; }

.input-select {
  position: relative;
  margin-right: 20px; }
  .input-select::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -20px;
    width: 9px;
    height: 9px;
    background: url("img/angle.png") no-repeat;
    background-size: cover; }

.flex-start {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative; }

.main-top-container {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: 300px;
  border-bottom: 1px solid #343439; }
  .main-top-container .input-photo {
    height: 100%;
    width: 200px;
    background: white;
    border: 2px dashed #d7d4d8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .main-top-container .input-photo label {
      -webkit-text-decoration: underline dotted;
      text-decoration: underline dotted;
      color: #8e76aa;
      cursor: pointer; }
    .main-top-container .input-photo .button-photo {
      display: none; }
  .main-top-container .input-top-right {
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%; }
    .main-top-container .input-top-right span {
      font-size: 22px;
      padding: 0px 0 20px 0; }

.item {
  padding-left: 10px; }

.main-bottom-container {
  padding: 20px 0; }
  .main-bottom-container .item {
    margin: 15px 0; }

.left-column {
  width: auto;
  background: white;
  padding: 20px;
  margin-bottom: 20px; }

.right-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: white;
  min-width: 300px;
  max-width: 310px;
  padding: 10px 20px;
  margin-left: 30px; }
  .right-column .advices {
    font-size: 20px; }
  .right-column .title {
    margin: 10px 0;
    border-bottom: 1px dashed #d7d4d8;
    font-size: 16px;
    color: #343439;
    padding: 5px 0; }
    .right-column .title:hover {
      color: #8e76aa; }
    .right-column .title:last-child {
      text-align: center;
      border-bottom: none;
      color: blue; }
      .right-column .title:last-child:hover {
        text-decoration: underline; }

.radio-label {
  margin: 15px;
  position: relative; }
  .radio-label::before {
    position: absolute;
    left: -19px;
    bottom: 50%;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    border: 2px solid white;
    -webkit-box-shadow: 0 0 0 2px green;
    box-shadow: 0 0 0 2px green;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease; }

input[type=radio] {
  display: none; }

input:checked ~ .radio-label::before {
  background-color: green; }

::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

.work-experience {
  display: none;
  border: 3px solid #ffff62; }

.add-work-experience {
  color: #dbba00;
  text-align: center;
  cursor: pointer; }
  .add-work-experience:hover {
    color: #af9502; }

textarea {
  width: 100%;
  resize: none; }

.shadow {
  -webkit-box-shadow: -5px 5px 23px 0 rgba(128, 128, 128, 0.507);
  box-shadow: -5px 5px 23px 0 rgba(128, 128, 128, 0.507); }

.underline:hover {
  text-decoration: underline; }
