* {
  margin: 0;
  padding: 0; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  height: 100%; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

a {
  text-decoration: none;
  cursor: pointer; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 15px; }
  @media (max-width: 1024px) {
    .container {
      padding: 0 15px 0 45px; } }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 47px; }
  .header .logo {
    font-family: 'Ubuntu', sans-serif;
    color: #df411c;
    font-weight: bold;
    font-size: 16px; }

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header-right .header-description {
    font-size: 14px;
    margin: 0 20px; }
  .header-right .border {
    display: block;
    width: 2px;
    height: 17px;
    background-color: #343439;
    border-radius: 9px; }
  .header-right .start-header {
    width: 140px;
    height: 30px;
    border-radius: 15px;
    margin-left: 20px;
    font-size: 13px;
    padding: 0; }

.little-tagline {
  color: #343439; }

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  padding: 10px 20px;
  letter-spacing: 1px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #df411c;
  border-radius: 15px;
  color: white;
  font-weight: 600;
  cursor: pointer; }
  .button:hover {
    background-color: #e55230; }
  .button:active {
    background-color: #c83a19; }

.logo, .tagline {
  text-shadow: 1px 1px 2px #a5a5a5; }

.main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background: url("img/main_background.png") no-repeat;
  background-size: contain;
  background-position: right;
  background-color: #edecf1; }
  .main .main-inner {
    width: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .main .tagline, .main .little-tagline, .main .start-main {
    margin: 10px 0; }
  .main .tagline {
    font-weight: 500;
    letter-spacing: 0px; }
  .main .little-tagline {
    font-size: 18px; }
  .main .start-main {
    width: 180px;
    height: 45px;
    border-radius: 20px;
    font-size: 16px; }

.footer {
  height: 32px;
  background-color: #d7d4d8; }

.transition-fade {
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  opacity: 1; }

html.is-animating .transition-fade {
  opacity: 0; }

.login-page {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease; }
  .login-page .button {
    margin: 15px 0; }

.input {
  border: 1px solid #d7d4d8;
  padding: 10px;
  border-radius: 5px; }

.login-area label, .login-area input {
  margin: 10px 0; }

.main-fill {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background-color: #edecf1;
  overflow: scroll; }

.user {
  position: relative; }
  .user .angle {
    height: 10px;
    width: auto;
    margin: 0 5px;
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear; }
  .user:hover .angle {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .user:hover .profile_menu {
    display: block; }

a.name {
  font-size: 18px; }

.profile_menu {
  display: none;
  position: absolute;
  list-style-type: none;
  top: 23px;
  padding-top: 12px;
  right: 0px;
  color: #343439;
  font-size: 16px; }
  .profile_menu li {
    width: 180px;
    height: 30px;
    background: white;
    border: 1px solid #d7d4d8;
    border-top: none; }
    .profile_menu li a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 5px 10px;
      color: #343439;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: right; }
      .profile_menu li a img {
        height: 100%;
        width: auto; }
    .profile_menu li:hover a {
      color: #8e76aa; }

.input-redact {
  border: 1px solid #edecf1;
  background: #edecf1;
  padding: 5px;
  border-radius: 5px;
  font-size: 18px;
  -moz-appearance: textfield;
  -webkit-appearance: none; }
  .input-redact:focus {
    background: white;
    border: 1px solid #d7d4d8;
    padding: 5px;
    border-radius: 5px; }

.flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.main-top-container {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 300px; }
  .main-top-container .input-photo {
    height: 100%;
    width: 200px;
    background: white;
    border: 2px dashed #d7d4d8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .main-top-container .input-photo label {
      -webkit-text-decoration: underline dotted;
      text-decoration: underline dotted;
      color: #8e76aa;
      cursor: pointer; }
    .main-top-container .input-photo .button-photo {
      display: none; }
  .main-top-container .input-top-right {
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%; }
    .main-top-container .input-top-right span {
      font-size: 25px;
      padding: 0px 0 20px 0; }
    .main-top-container .input-top-right .item {
      padding-left: 10px; }
