.container#swup.transition-fade
  .main-inner
    h1.tagline Красивое резюме за 15 минут
    h2.little-tagline Удобно. Без ненужных подписок.
    a(href="/step2.html")
      button.start-button.start-main Создать сейчас
