header.header
  .container
    a(href=home_link).logo СоздатьРезюме.рф
    .header-right#swup.transition-fade
      .user
        img(src="img/angle.png", alt="").angle
        a.name Игорь Петров
        ul.profile_menu
          li 
            a(href="") Профиль
              img(src="img/user.png", alt="")
          li 
            a(href="") Мои резюме
              img(src="img/notepad.png", alt="")
          li 
            a(href="") Настройки
              img(src="img/settings.png", alt="")